<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
</head>
<body>
	<h1 style="text-align: center;">Kaiser</h1>

      <h3 style="text-align: center;"><%  include template/header.ejs %>
      </h3>
<h2>Thrive your way.
We’ll take care of the rest.
</h2>
<p>There are many ways to live healthy. And when you’re a Kaiser Permanente member, many people work together to help you stay that way. Your doctor, specialists, and health plan are all part of one connected team — coordinating your care seamlessly so you don’t have to. It’s how we do things faster, easier, and better — and help you live healthy, your way.</p>

</body>
</html>