<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
</head>
<body>
	<h1 style="text-align: center;">Kaiser</h1>

      <h3 style="text-align: center;"><%  include template/header.ejs %>
      </h3>

<p>Welcome to kaiser</p>

</body>
</html>